# AWS Configuration
REACT_APP_AWS_REGION=us-east-1

# Cognito Configuration
REACT_APP_COGNITO_USER_POOL_ID=us-east-1_xxxxxxxxx
REACT_APP_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxx
REACT_APP_IDENTITY_POOL_ID=us-east-1:xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

# Subscriptions API
REACT_APP_SUBSCRIPTIONS_API_URL=https://nd4qj5m64g.execute-api.us-east-2.amazonaws.com/v1/subscriptions
